{# Блок меню #}
{% load static %}
<div>
    <nav
            class="
            navbar
            bg-body-tertiary
<!--            fixed-top-->
"
            data-bs-theme="dark"
    >
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'mainapp:index' %}">
                <img
                        src="{% static 'img/logo.png' %}"
                        alt="Logo"
                        width="150"
                        height="50"
                        class="d-inline-block align-text-top"
                >
            </a>

        </div>
    </nav>
</div>
{# КОНЕЦ Блок меню #}